@model RahyabIdentity.Controllers.Account.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ورود به حساب کاربری</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self'">

    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="images/icons/favi.png" />*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    @*<partial name="_ValidationSummary" />*@

    @if (Model.EnableLocalLogin)
    {
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                    <partial name="_ValidationSummary" />

                    <form class="login100-form validate-form flex-sb flex-w" asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <span class="login100-form-title p-b-53">
                            ورود به حساب کاربری
                        </span>
                        @*External login*@
                        @foreach (var provider in Model.VisibleExternalProviders)
                        {
                            if (provider.DisplayName == "Yahoo")
                            {
                                <a class="btn-face m-b-20" asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-provider="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    <i class="fa fa-yahoo"></i>
                                    Yahoo
                                </a>
                            }
                            else if (provider.DisplayName == "Google")
                            {
                                <a class="btn-google m-b-20" asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-provider="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    <img src="~/images/icons/icon-google.png" alt="GOOGLE">
                                    Google
                                </a>
                            }
                        }

                        <div class="p-t-31 p-b-9">
                            <span class="txt1">
                                نام کاربری
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="نام کاربری معتبر نمی باشد">
                            <input class="input100" type="text" asp-for="Username">
                            <span class="focus-input100"></span>
                        </div>

                        @*<input class="form-control" placeholder="Username" asp-for="Username" autofocus>*@
                        <div class="p-t-13 p-b-9">
                            <span class="txt1">
                                رمز عبور
                            </span>

                            <a href="#" class="txt2 bo1 m-l-5">
                                رمز عبور را فراموش کردم
                            </a>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="رمز عبور صحیح نمی باشد">
                            <input class="input100" type="password" asp-for="Password">
                            <span class="focus-input100"></span>
                        </div>
                        @*<input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">*@

                        @*@if (Model.AllowRememberLogin)
            {
                <div class="form-group login-remember">
                    <label asp-for="RememberLogin">
                        <input asp-for="RememberLogin">
                        <strong>Remember My Login</strong>
                    </label>
                </div>
            }*@
                        <div class="container-login100-form-btn m-t-17">
                            <button class="login100-form-btn" name="button" value="login">
                                ورود به حساب کاربری
                            </button>
                        </div>

                        <div class="w-full text-center p-t-55">
                            <span class="txt2">
                                حساب کاربری ندارید؟
                            </span>

                            <a asp-controller="Account"
                                            asp-action="Register"
                                            asp-route-returnUrl="@Model.ReturnUrl" class="txt2 bo1">
                                ثبت نام کنید
                            </a>
                        </div>
                    </form>
                    @*<div class="form-group">
            <button class="btn btn-primary" name="button" value="login">Login</button>
            <button class="btn btn-default" name="button" value="cancel">Cancel</button>
        </div>*@




                </div>
            </div>

        </div>
    }
    @*@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }*@
    <script src="~/lib/jquery/jquery.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/bootstrap/js/popper.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/site.js"></script>

</body>
</html>


